h3{
color: brown;
text-align: center;
background-color: chartreuse;}
div do {
    color: blue;
    
}
h2{
    font-size: 50px;
    background-color: darkslategray;
    text-align: center;
}
div{
    background-color: brown;
}